*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(blueviolet, rgb(183, 43, 226));
}

h1{
    margin-top: 0;
    font-size: 40px;
}

/* containers */
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    box-shadow: rgb(200, 200, 200) 10px 10px;
    border-radius: 10px;
    padding: 40px;
    padding-bottom: 20px;
}

.list-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.item{
    width: 506px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    font-size: 24px;
    gap: 5px;
    /* move remove button to end */
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.item:hover{
    background-color: rgb(175, 175, 175);
}

.text-box{
    width: 400px;
    height: 50px;
    font-size: 24px;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
}

/* buttons */
.bottom-btns{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

button{
    color: white;
    background-color: rgb(78, 125, 253);
    font-size: 24px;
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.clear{
    width: 120px;
}

.add{
    background-color: rgb(201, 27, 27);
}

button:hover{
    filter: brightness(150%);
}

.remove{
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    margin-right: 10px;
    color: rgb(50, 50, 50);
    align-self: center;
}

/* checkboxes */
input[type="checkbox"]{
    /* Hide default checkbox */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    width: 20px;
    height: 20px;
    border: 1px solid #3f3f3f;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    cursor: pointer;
    margin-left: 10px;
    position: relative;
    transition: background-color 0.3s;
}

input[type="checkbox"]:checked {
    background-color: #7a7a7a;
}

input[type="checkbox"]:hover {
    filter: brightness(110%);
}

/* Add checkmark icon */
input[type="checkbox"]::before {
    content: "\2713"; /* Unicode for checkmark */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    visibility: hidden;
  }
  
  /* Show checkmark icon when checkbox is checked */
  input[type="checkbox"]:checked::before {
    visibility: visible;
  }